extends layout

block content

  section
    h1 404 Not Found

    :markdown
      Checkout this cool custom error page. You too can set a cool custom error page in [Charge](https://github.com/carrot/charge) by defining it in your charge.json file.

      ```{ "error_page": "error.html" }```

      Go back [home](/)
