extends layout

block content

  section
    h1 404 Not Found

    :markdown
      Checkout this cool custom error page. You too can set a cool custom error page in [Superstatic](https://github.com/divshot/superstatic) by defining it in your superstatic.json file.

      ```{ "error_page": "error.html" }```

      Go back [home](/)
