extends layout

block content

  section
    h1 Static Sites with Heroku and Roots

    :markdown
      This is a static site built using [Roots](http://roots.cx), served by [Superstatic](https://github.com/divshot/superstatic) and hosted on Heroku. Roots is a toolbox for building simple, beautiful, and efficient products for the web by taking advantage of modern precompilation.

      [Learn More](/more.html) about this buildpack.

      Check out
      [roots-buildpack-sample](https://github.com/carrot/roots-buildpack-sample)
      and
      [roots-buildpack](https://github.com/carrot/roots-buildpack)
      on GitHub.
