extends layout

block content

  section
    h1 Learn More

    :markdown
      This [buildpack](https://github.com/carrot/roots-buildpack) allows you to not only take full advantage of [Roots](http://roots.cx) and it's powerful toolchain, but it also leverages [Charges's](https://github.com/carrot/charge) exceptional [configuration engine](https://github.com/carrot/charge#options).

      For example, this page is located at [/more](/more) as opposed to [/more.html](/more.html) simply by turning on "clean_urls" in your charge.json file.

      ```{ "clean_urls": true }```

      Go back [home](/)
