extends layout

block content

  section
    h1 Learn More

    :markdown
      This [buildpack](https://github.com/carrot/roots-buildpack) allows you to not only take full advantage of [Roots](http://roots.cx) and it's powerful toolchain, but it also leverages [Superstatic's](https://github.com/divshot/superstatic) exceptional [configuration engine](https://github.com/divshot/superstatic#configuration).

      For example, this page is located at [/more](/more) as opposed to [/more.html](/more.html) simply by turning on "clean_urls" in your superstatic.json file.

      ```{ clean_urls: true }```

      Go back [home](/)
