extends layout

block content

  section
    h1 Secondary Page

    :markdown
      This is a secondary page (not index.html). This page is meant to demonstrate [superstatic's](https://github.com/divshot/superstatic) powerful configuration engine

      Go back [home](/)

      Check out
      [roots-buildpack-sample](https://github.com/carrot/roots-buildpack-sample)
      and
      [roots-buildpack](https://github.com/carrot/roots-buildpack)
      on GitHub.
